/* 
FADE IN ON SCROLL CSS 
*/
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.appear {
  opacity: 1;
  transform: translateY(0);
}


/* 
Global styles 
*/
* {
  font-family: "Roboto",sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-image: radial-gradient(#a4bc91 0.5px, #f0f0f0 0.8px);
  background-size: 8px 8px;
}

.pixel-space {
  height: 100px;
  width: 100%;
}

/*
Opening section styling.
*/
.opening-image {
  width: 100%;
  height: 500px;
  background-image: url("../images/about_background.jpg");
  background-size: cover;
  background-position: 25% 25%;
  background-repeat: no-repeat;
  border-bottom: 1px solid gray;
}

#main-content {
  margin-left: 10vw;
  margin-right: 10vw;
}

#page-text-and-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/*
About section CSS
*/
.aboutMe-flexBox {
  display: flex;
  margin-top: 5vh;
}

.about-section {
  padding: 10px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-title {
  font-size: 3rem;
}

.about-paragraph {
  font-size: 1.2rem;
  line-height: 1.6;
}

.contact-button-container {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
}

.contact-me-button {
  text-decoration: none;
  font-size: 1.4rem;
  background-color: rgba(16, 130, 52, 1);
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
}

.contact-me-button:hover {
  background-color: rgb(10, 97, 10);
  transition: background-color 0.3s ease;
}

/*
Styling for back to top button.
*/
.back-to-top-button {
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(16, 130, 52, 1);
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.back-to-top-button:hover {
  background-color: rgb(10, 97, 10);
} 


.listings {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.education-title {
  font-size: 1.2rem;
}



/* 
THIS IS FOR THE EDUCATION / CAREER EXPERIENCE SECTION
*/
.education-and-career {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  width: 100%;
}

.listing-container {
  background-color: #f0f0f0;
  filter: drop-shadow(5px 5px 10px #acacac);
  padding: 20px;
  border-radius: 20px;
  max-width: 480px;
}

/* 
MEDIA QUERIES FOR RESPONSIVENESS OF MAIN ELEMTNS
Does **NOT** include styling for education / Career cards.
*/
@media screen and (max-width: 500px) {
  .opening-image {
    height: 200px;
  }
  
  .about-section {
    padding: 10px;
  }
  
  .about-title {
    font-size: 2rem;
  }

  .about-paragraph {
    font-size: 0.9rem;
    line-height: 1.4;
  }

  .contact-me-button {
    padding: 10px 20px;
    font-size: 1rem;
  }

  .back-to-top-button {
    padding: 8px 18px;
    font-size: 1rem;
  }

  .listing-title {
    font-size: 1.3rem;
  }

  .listing-description {
    font-size: 0.8rem;
  }
  
  .list-item {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 700px) {
  .opening-image {
    height: 250px;
  }

  .about-section {
    padding: 10px;
  }
  
  .about-title {
    font-size: 2.2rem;
  }

  .about-paragraph {
    font-size: 1rem;
    line-height: 1.4;
  }

  .contact-me-button {
    padding: 10px 20px;
    font-size: 1.2rem;
  }

  .back-to-top-button {
    padding: 10px 20px;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 701px) and (max-width: 900px) {
  .opening-image {
    height: 250px;
  }
  
  .about-title {
    font-size: 2.4rem;
  }

  .about-paragraph {
    font-size: 1.2rem;
    line-height: 1.4;
  }
}

/*
At this point media queries are just for opening image.
*/
@media screen and (min-width: 901px) and (max-width: 1100px) {
  .opening-image {
    height: 275px;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1300px) {
  .opening-image {
    height: 300px;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1500px) {
  .opening-image {
    height: 350px;
  }
}

@media screen and (min-width: 1501px) and (max-width: 1800px) {
  .opening-image {
    height: 500px;
  }
}