/* Global styles */
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

#main-content {
  background-color: #f0f0f0;
  opacity: 0.8;
  background-image: radial-gradient(#a4bc91 0.5px, #f0f0f0 0.8px);
  background-size: 8px 8px;
  min-height: 800px;
}

.spacing-section {
  width: 100%;
  height: 100px;
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 25vh;
  padding-bottom: 25vh;
}



.contact-me-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: white;
  max-width: 400px;
  padding: 20px;
  border-radius: 25px;
  min-height: 425px;
  filter: drop-shadow(1px 7px 6px #a9a9a9);
}

.contact-me-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  font-size: 1.6em;
}

.form-title {
  font-size: 2.5rem;
  margin: 0;
  padding: 20px;
}

.form-description {
  margin: 0 0 20px 0;
  font-size: 1rem;
}

.form-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #108234;
  max-width: 800px;
  margin-bottom: 20px;
}

textarea {
  resize: vertical;
}

.submit {
  background-color: #108234;
  color: white;
  border: none;
  padding: 10px;
  font-size: 0.8em;
  border-radius: 10px;
  cursor: pointer;
  width: 20%;
  margin: 0 auto;
}

.submit:hover {
  background-color: #0e6f29;
}

/*
Footer Styles
*/
.footer-content-container {
  text-align: center;
  padding: 50px;
  background: #333;
  color: white;
}
