* {
    font-family: "roboto", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: radial-gradient(#a4bc91 0.5px, #f0f0f0 0.8px);
    background-size: 8px 8px;
}

main {
  max-width: 1600px;
  margin-left: 10vw;
  margin-right: 10vw; 
}

.pixel-space {
  height: 100px;
  width: 100%;
}

.project-title {
  font-size: 3rem;
  margin: 0;
}

.date_added {
  color: gray;
  font-size: 1.2rem;
  margin: 0;
}

.marquee {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.tech {
  padding: 10px 15px;
  background-color: lightgray;
  border-radius: 10px;
}

.github_link {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 1.2rem;
  text-decoration: none;
  color: #0366d6;
}

.github_link:hover {
  text-decoration: underline;
}

.brief-project-description, .detailed-section-paragraph {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.brief-project-description {
  margin-bottom: 50px;
}

.image-container {
  text-align: center;
  margin-bottom: 30px;
}

.project_image {
  width: 80%;
  min-width: 360px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detailed-section-heading {
  margin-top: 50px;
}

.back-to-top-button {
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(16, 130, 52, 1);
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.back-to-top-button:hover {
  background-color: rgb(10, 97, 10);
} 


/* FADE IN ON SCROLL CSS */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.appear {
  opacity: 1;
  transform: translateY(0);
}



/* RESPONSIVE MEDIA QUERIES */
@media screen and (min-width: 400px) and (max-width: 800px) {
  .project-title {
    font-size: 2.8rem;
  }

  .date-added {
    font-size: 1.1rem;
  }

  .tech {
    padding: 8px 12px;
    font-size: 0.9rem;
  }

  .github_link {
    font-size: 1rem;
  }

  .brief-project-description, .detailed-section-paragraph {
    font-size: 1rem;
  }

  .detailed-section-heading {
    font-size: 1.5rem;
  }

  .back-to-top-button {
    font-size: 1rem;
    padding: 8px 16px;
  }
}

@media screen and (min-width: 200px) and (max-width: 399px) {
  .project-title {
    font-size: 2.3rem;
  }

  .project_image {
    width: 100%;
    min-width: unset;
  }

  .pixel-space {
    height: 90px;
  }

  .date-added {
    font-size: 0.5rem;
  }

  .tech {
    padding: 6px 10px;
    font-size: 0.8rem;
  }

  .github_link {
    font-size: 0.9rem;
  }

  .brief-project-description, .detailed-section-paragraph {
    font-size: 0.9rem;
  }

  .detailed-section-heading {
    font-size: 1.3rem;
  }

  .back-to-top-button {
    font-size: 0.9rem;
    padding: 6px 12px;
  }
}