/* Global styles */
* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

.pixel-space100 {
    width: 100%;
    height: 168px;
}

#main-content {
    min-height: 100vh;
}


#main-content {
    display: flex;
    flex-direction: column;
    margin-right: 10vh;
    margin-left: 10vh;
    border: 5px solid blue;
}

.bento-container {
    display: flex;
    justify-content: center;
}

.projects-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 1em;
    grid-template-areas: 
    "box1 box1 box2 box3"
    "box1 box1 box4 box5";
}

.project-box {
    background-color: blue;
}
