/* Global styles */
* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

.opening-image {
    margin-top: 100px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid gray;
}

.about-title {
    font-size: 3rem;
    margin-top: 30px;
}

#page-text-and-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 200px;
}