/* Global styles */
* {
  font-family: "Roboto",sans-serif;
}

body {
  margin: 0;
}

.pixel-space {
  height: 100px;
  width: 100%;
}

.opening-image {
  width: 100%;
  height: 450px;
  background-image: url("../images/about_background.jpg");
  background-size: cover;
  background-position: 25% 25%;
  background-repeat: no-repeat;
  border-bottom: 1px solid gray;
}

.about-title {
  font-size: 3rem;
  margin-top: 30px;
}

#page-text-and-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin-left: 100px;
  margin-right: 100px;
}
