* {
  font-family: sans-serif;
}

#main-content {
  background: #108234;
  background: linear-gradient(
    130deg,
    rgba(16, 130, 52, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
  min-height: 800px;
}

body {
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}

#header {
  display: block;
  align-items: left;
  background: #333;
  color: white;
}
.title-container {
  width: 100%;
}

.page-title {
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;
}

.page-title a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.header-links-container {
  display: flex;
  align-items: left;
  padding-left: 28px;
}

.header-link {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.selected {
  background-color: rgba(0, 150, 0, 1);
}

.header-link:hover {
  background-color: rgba(0, 100, 0, 1);
  transition-duration: 0.5s;
}

.footer-content-container {
  text-align: center;
  padding: 20px;
  background: #333;
  color: white;
}

#main-content {
  padding-bottom: 100px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 50px;
  max-width: 1600px;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  max-width: 700px;
  min-width: 500px;
  background-color: lightgray;
  padding: 50px;
  border-radius: 25px;
}

.project-title {
  font-size: 1.5em;
  margin: 0;
}

.project-title a {
  text-decoration: none;
  color: black;
}

.project-description {
  margin-bottom: 35px;
}

.project-description,
.project-technologies {
  max-width: 400px;
}
